//font
$FONT_FAMILY: 맑은 고딕, malgun gothic, -apple-system, Apple SD 산돌고딕 Neo, AppleGothicNeoSD, Microsoft NeoGothic,  Droid sans, sans-serif !default;
$FONT_SIZE: 16px !default;
$BODY_COLOR: #000 !default;
$LINK_COLOR: $BODY_COLOR !default;
$LINE_HEIGHT: 1.44 !default;

//bg
$BDOY_BACKGROUND: #fff !default;

//color
$PRIMARY_COLOR: #003595 !default;
$GRAY_COLOR: #cccccc !default;
$dark: #000 !default;
$white: #fff !default;

//layout
$HEADER_HEIGHT: 80px !default;

//breakpoint
$BREAKPOINT_LARGE: 996px !default;
$BREAKPOINT_XLARGE: 1600px !default;